<a class="btn btn-success mb-4" [routerLink]="['/home']">Volver al home</a>
<div class="row">
    <div class="col-md-12">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Char counter</div>
            <div class="card-body">
                <div>
                    <ul class="list-group">
                        <app-char-counter-info [type]="'characters'" (setCounter)="setFlags($event)">
                        </app-char-counter-info>
                        <app-char-counter-info [type]="'episodes'" (setCounter)="setFlags($event)">
                        </app-char-counter-info>
                        <app-char-counter-info [type]="'locations'" (setCounter)="setFlags($event)">
                        </app-char-counter-info>
                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <app-timer [startDate]="startDate" [endDate]="endDate" *ngIf="endDate">
                </app-timer>
            </div>
        </div>
    </div>
</div>