<div class="accordion">
    <app-timer [startDate]="startDate" [endDate]="endDate" *ngIf="endDate"></app-timer>
    <div class="card" *ngFor="let episode of episodes">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                {{episode.episode}}. {{episode.name}} ({{episode.countCharacters}} personajes)
            </h5>
        </div>
        <div>
            <div class="card-body">
                <ul>
                    <li *ngFor="let location of episode.locations">{{location}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>